@model About


<p>@Model.Name</p>
<p>@Model.Title</p>
<p>@Model.Description</p>
<p>
	<img src="@Model.PhotoURL" />
</p>


<br />
<a class="btn btn-danger" href="/admin/about/delete/@Model.ID">Delete</a>



